# Build outputs
/dist

# Vite cache
.vite

# Node dependencies
/node_modules

# TypeScript build cache
*.tsbuildinfo

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# Package managers
pnpm-lock.yaml
